{% extends "extender.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our instructors</title>
</head>
<body>
<a href="{% url 'entities:homepage' %}"><button>Back to homepage</button></a>
<div align="center">
    {% if instructors %}
    {% for el in instructors %}
        <img src="{{el.photo.url}}">
        <p>{{el.first_name}} {{el.last_name}}</p>
        <p><a href="{% url 'entities:instructor_details' el.id %}"><button>Перейти</button></a></p>
        <br/>
    {% endfor %}
    {% else %}
        <p>We have no instructors yet</p>
    {% endif %}
</div>
</body>
</html>
{% endblock content %}